services:
  postgis:
      image: postgis/postgis:16-3.4
      container_name: postgis
      ports:
        - "5432:5432"
      environment:
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        - POSTGRES_DB=${POSTGRES_DB}
        - POSTGRES_USER=${POSTGRES_USER}
      networks:
        - app-network
      volumes:
        - postgres_data:/var/lib/postgresql/data
      healthcheck:
        test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
        interval: 10s
        timeout: 5s
        retries: 5
        start_period: 10s

  hasura:
    image: hasura/graphql-engine:v2.36.0
    container_name: hasura
    ports:
      - "8080:8080"
    depends_on:
      postgis:
        condition: service_healthy
    env_file:
      - ./backend-hasura/.env
    volumes:
      - ./backend-hasura/metadata:/hasura-metadata
      - ./backend-hasura/migrations:/hasura-migrations
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:8080/healthz || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend-nextjs
      dockerfile: Dockerfile
    container_name: family-friendly-frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend-nextjs/.env
    depends_on:
      - hasura
    volumes:
      - ./frontend-nextjs:/app
      - /app/node_modules
    command: npm run dev
    networks:
      - app-network

volumes:
  postgres_data:

networks:
  app-network:
    driver: bridge
