/* 全域樣式 - 手機優先設計 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 防止 iOS Safari 的彈跳效果 */
body {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* 確保輸入框在 iOS 上不會自動縮放 */
input,
textarea,
select {
  font-size: 16px !important;
}

/* 優化觸控體驗 */
button,
a {
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

/* 防止文字選擇（在拖曳時） */
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
